.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 165px;
  border: 1px solid #cfcfcf;
  background-color: #e2e2e2;
  padding: 20px;
  border-radius: 3px;
}
.subtotal_gift {
  display: flex;
  align-items: center;
}
.subtotal_gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
